[project]
name = "moe-emergence"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numpy>=2.3.5",
    "ruff>=0.14.10",
    "torch>=2.9.1",
]

[tool.ruff]
line-length = 88

[tool.ruff.format]
docstring-code-format = true
quote-style = "double"

[dependency-groups]
dev = [
    "pre-commit>=4.5.1",
]
